@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


mat-form-field,
textarea {
  width: 100%;
}

table.layoout {
  table-layout: fixed;
  width: 100%;
  background-color: rgb(253, 221, 227);
  color: black;
  border: 5px solid rgb(252, 173, 186);
  text-align:center
}