@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-list-option {
    background: lightblue;
  }

  table.layoout {
      table-layout: fixed;
      width: 100%;
      background-color: lightblue;
      color: black;
      border: 5px solid rgb(82, 195, 233);
      text-align:center
  }

  mat-toolbar.col{
    background-color: rgba(128, 128, 128, 0.402);
    color: white;
}