<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span class="title-center">
      Company Management System
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button class="title-center" mat-raised-button [routerLink]="['/add_employee']" color="Warn">Add Employee</button>
    <button class="title-center" mat-raised-button [routerLink]="['/add_customer']" color="Warn">Add Customer</button>
    <button class="title-center" mat-raised-button [routerLink]="['/employee_files']">View Employees</button>
    <button class="title-center" mat-raised-button [routerLink]="['/customer_files']">View Customers</button>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>